*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  gap: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}

.result {
  width: 711px;
}

.content__details {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
  overflow: hidden;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color: #fff;
}

.search-form__textfield {
  width: 100%;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  padding: 2.5px 0;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background: transparent;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: #fff;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 73.5px;
  cursor: pointer;
  align-self: flex-end;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  padding-right: 5px;
}

.content__list-container.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #D9D9D9 rgba(217, 217, 217, 0.1);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  width: 100%;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 2px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 0;
  padding: 2px;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 2px 0;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}